<html>
    <head>
        <title>my python BLOG</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <a href="http://programmers.at.ua">link</a>
        <ul>
            <li>consoleportscan</li>
            <li>Network-Ogganizer</li>
            <li>manage_py</li>
        </ul>
        <div>
                <h1><a href="">Django Blog</a></h1>
            </div>

            <div>
                <p>published: 19.12.2015, 23:14</p>
                <h2><a href="">My first post</a></h2>
                <p>hrvbrjfhvnjnjkdfbvj nrjenfdvjb j redjnvjn jdbcjxnv</p>
            </div>

            <div>
                <p>published: 20.01.2016, 23:40</p>
                <h2><a href="">My second post</a></h2>
                <p>aefgggggggggggggggggeeeeeeeeeeeeeeeeeeeevxcvdv</p>
            </div>
    </body>
</html>
